<div>
    A navigational aid (also known as aid to navigation, ATON, or navaid) is any sort of marker which aids the
    traveler in navigation. Common types of such aids include lighthouses, buoys, fog signals, and day beacons.
    <p>References:</p>
    <ul>
        <li><a href="http://www.soefartsstyrelsen.dk/Documents/Publikationer/DANSKFYRLISTE2015.pdf">Dansk fyrliste</a></li>
        <li><a href="http://www.kystverket.no/Maritim-infrastruktur/Fyr-og-merker-/Fyrlista/">Norsk fyrliste</a></li>
        <li><a href="http://www.dma.dk/SiteCollectionDocuments/Publikationer/ExperienceAIS_AtoN.pdf">ExperienceAIS_AtoN.pdf</a></li>
        <li><a href="http://www.ccg-gcc.gc.ca/aids/home">Canadian Buoys, Lights &amp; Aids to Navigation</a></li>
        <li><a href="http://www.notmar.gc.ca/go.php?doc=eng/services/list/index">Canadian List of Lights, Buoys and Fog Signals</a></li>
        <li><a href="http://www.navcen.uscg.gov/?pageName=lightLists">USA LIGHT LIST VOLUMES</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Navigational_aid">wikipedia</a></li>
    </ul>
</div>