<div class="content">
    <p align="left">
        <span>Mariners can obtain information for the safe navigation in charts and nautical publications. The Danish Geodata Agency publishes the official paper charts, electronic navigational charts (ENC) and nautical publications of the Greenland waters.</span>
    </p>

    <p>
        <span>Mariners should be aware that the majority of the paper charts for Greenland were originally compiled in the 1960s. The source material on which these paper charts are based had limitations, especially with regard to their geometric accuracy.<br/>The positioning of the information in these paper charts (i.e. topography, including the coastline, and hydrography) is therefore not accurate.<br/>Since the positioning accuracy that can be achieved with satellite navigation systems (for instance GPS) is better than that of the paper charts, mariners are advised to use sources of positional information other than satellite navigation systems.</span>
    </p>

    <p><span><a href="partials/avpg/naviplanninggl_uk1.pdf" target="_blank"
                title="Read more about the precautions that mariners should take when planning navigation with Greenland charts">Read
        more about the precautions that mariners should take when planning navigation with Greenland
        charts</a>.<br/> </span></p>

    <p>&nbsp;</p>

    <p><span>&nbsp;<img src="partials/avpg/kortudsnit1.jpg" alt="Kortudsnit2"/></span></p>

    <p><a href="http://websig.hidrografico.pt/website/icenc/viewer.htm" target="_blank">Electronic Navigational
        Charts</a><span><br/> The current ENC coverage of Greenland waters can be seen in the IC-ENC World Catalogue.</span>
    </p>

    <p><span><a href="http://www.danskehavnelods.dk/indexkort_gronland/gronlandskesoekort.html" target="_blank">Index
        map of Greenland charts</a></span><span><br/> An overview of the paper charts covering the Greenland waters can be found on the Danish Geodata Agency&rsquo;s website.</span>
    </p>

    <p><a href="http://eng.gst.dk/nautical-charts-navigation/chart-corrections/" target="_blank">Chart
        Corrections</a><span><br/> When procuring paper charts and printed publications, subsequent corrections that are published in <em>Chart
        Corrections</em> must be entered in charts and publications by the mariner.<br/><br/><em>Chart Corrections</em> is published every Friday and describes the corrections necessary to maintain the Danish Geodata Agency&rsquo;s charts and nautical publications covering the waters sorrounding Denmark, the Faroe Islands and Greenland.<br/>Information is also provided about new editions and updated reprints of the charts and about the continuous updates to the Danish Geodata Agency&rsquo;s online publications.<br/><br/>The Danish Geodata Agency&rsquo;s website contains the latest version of Danish Chart Corrections and an archive of previous editions.<br/>There is also a list of corrections to current paper charts listed chart by chart.</span>
    </p>

    <p><span><a href="http://www.dma.dk/Sider/Home.aspx" target="_blank">Notices to Mariners</a></span><span><br/> The Danish Maritime Authority publishes weekly <em>Notices
        to Mariners</em> (EfS). <em>Notices to Mariners</em> announce matters of importance for shipping in Danish and adjacent waters, as well as waters around the Faroe Islands and Greenland.</span>
    </p>

    <p><span><a href="http://eng.gst.dk/nautical-charts-navigation/nautical-publications/" target="_blank">Nautical
        publications</a></span><span><br/> Nautical publications are a necessary complement to the charts. In connection with navigational planning, nautical publications are indispensable because this is where the mariner can obtain information that is not available from the charts. Like charts, it is mandatory to have nautical publications on board for a ship to be declared seaworthy.<br/><br/>The Danish Geodata Agency publishes a number of nautical publications, which can be purchased in print or downloaded from the internet. The nautical publications covering Greenland waters and harbours are currently only available in printed form, but they are under revision and will eventually be available to download as online publications from the Danish Geodata Agency website.</span>
    </p>

    <p><span><a href="http://www.kobsokort.dk/?sc_lang=en" target="_blank">Purchase of charts of Greenland
        waters</a></span><span><br/> Rosendahl-Schultz distributes all the paper charts and a range of nautical publications for the Danish Geodata Agency, covering Denmark, the Faroe Islands and Greenland. Paper charts and nautical publications can be purchased from the distributor website or at the distributor&rsquo;s dealers.</span>
    </p>

    <p>&nbsp;</p>
</div>
