<div>
    <div id="Body">
        <p><span>TELE Greenland maintains an emergency and safety watch on shipping in Greenland waters. TELE Greenland also attends to vessels&rsquo;
            requirement for commercial communication by radio (VHF, MF and HF).<br/><br/>The options for vessels to obtain information about the weather and ice conditions and any hazards to navigation in Greenland waters are discussed below:</span>
        </p>

        <p><span><img src="partials/avpg/radio.jpg" alt="Radio"/></span></p>

        <p><span>Warnings of ice accretion</span><span><br/>Warnings of ice accretion will be given for shipping by the Joint Arctic Command/TELE Greenland. The warnings are issued by Aasiaat Radio and on the news on Kalaallit Nunaata Radioa (KNR).</span>
        </p>

        <p><span>For details on warning districts, guidelines for the preparation and distribution of ice accretion warnings, diagrams used to estimate the degree of ice accretion and masters&rsquo;
            duty to submit reports on ice accretion, see the annex to Notices to Mariners (EfS), <a
                    href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                    target="_blank">EfS A</a></span><span>, on the website of the Danish Maritime Authority.</span></p>

        <p><span>Meteorological notices</span><span><br/>Weather forecasts, marine forecasts and any gale and storm warnings and warnings of ice accretion are issued by Kalaallit Nunaata Radioa (KNR). Aasiaat Radio rebroadcasts sea forecasts produced by KNR on the VHF work channels. These weather forecasts are only in Greenlandic and Danish. Gale and storm warnings and warnings about ice accretion are also broadcast on Aasiaat Radio on MF and VHF in English, Greenlandic and Danish.</span>
        </p>

        <p><span>An overview of MF and VHF telephony, including locations and frequencies/channels that are used for the individual warning districts, can be found in the annex to Notices to Mariners (EfS), <a
                href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                target="_blank">EfS A</a></span><span>, on the website of the Danish Maritime Authority and TELE Greenland <a
                href="http://www.coastalradio.gl">www.coastalradio.gl</a>.</span></p>

        <p><span>The part of the </span><a href="http://www.dmi.dk/en/groenland/" target="_blank">Danish Meteorological
            Institute&rsquo;s</a><span> website that covers Greenland has an overview of the weather, current weather information (temperature, wind, air pressure, humidity, and precipitation), weather forecasts (coastal wind and wind), sea forecasts, ice charts, ice notices and tide tables.<br/> <br/>The website of the </span><a
                href="http://ocean.dmi.dk/anim/index.uk.php" target="_blank">Centre for Ocean and Ice</a><span> (COI) at the Danish Meteorological Institute (DMI) has forecasts and observations of the Greenland waters. Waves (height and direction) and wind (force and direction) are among the parameters for which the website provides forecasts.</span>
        </p>

        <p><span>Ice service and ice charts</span><span><br/>The Greenland Ice Service is part of the Centre for Ocean and Ice (COI) at the Danish Meteorological Institute (DMI) in Copenhagen and is divided into a reconnaissance service, Ice Patrol (ISC) in Narsarsuaq, as well as a satellite-based unit, the DMI Ice Service in Copenhagen.</span>
        </p>

        <p><span>DMI Ice Service<br/>Lyngbyvej 100, 2100 Copenhagen &Oslash;, Denmark<br/>Tel.: +45 3915 7315<br/>Fax: +45 3915 7300<br/>Email: </span>

            <a href="mailto:iskort@dmi.dk"><span><span style="text-decoration: underline;">iskort@dmi.dk</span></span></a>
        </p>
        <p>
            <span>Ice Patrol<br/>P.O. Box 505, 3923 Narsarsuaq, Greenland<br/>Tel.: +299 66 52 44<br/>Fax: +299 66 52 47<br/>Email: </span>

            <a href="mailto:isc@greennet.gl">isc@greennet.gl</a>
        </p>
        <p><span>Information from the DMI Ice Service and Ice Patrol can be considered as indicative for the ships&rsquo;
            masters.</span></p>

        <p><span>Ice Patrol Narsarsuaq is staffed with navigators throughout the year and has a helicopter at its disposal for offshore ice reconnaissance. Reconnaissance is generally performed 2-3 times per week, and a separate assessment is made for which area each reconnaissance will cover. The outer limits for ice reconnaissance are usually Paamiut (Frederiksh&aring;b) and Ikerasassuaq (Prins Christian Sund). The DMI Ice Service is staffed with specially trained personnel for the analysis of satellite data for ice information.</span>
        </p>

        <p><span>For details on establishing a radio link between the reconnaissance helicopter and ships, ice pilotage, distribution of ice information by telephone, fax, Aasiaat Radio, email, Kalaallit Nunaata Radioa (KNR), internet and NAVTEX, see the annex to Notices to Mariners (EfS), <a
                href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                target="_blank">EfS A</a></span><span>, on the website of the Danish Maritime Authority.</span></p>

        <p><span>The part of the </span><a href="http://www.dmi.dk/en/groenland/" target="_self">Danish Meteorological
            Institute&rsquo;s</a><span> website covering Greenland has ice charts <span
                style="font-family: Arial;"><span>and inshore ice report in Danish and Greenlandic.</span></span></span>
        </p>

        <p><span><span style="color: #32404b; font-family: Arial;"><span><strong>Maritime safety
            information<br/></strong></span></span></span><span>Joint Arctic Command (AKO) issues navigation information as required, in cooperation with Kalaallit Nunaata Radioa (KNR) and Aasiaat Radio.<br/>The navigation information broadcast over KNR is read out in Danish and Greenlandic so that mariners can get updates on changes to buoyage or warnings about newly discovered dangers to navigation.<br/>Maritime safety information is broadcast by Aasiaat Radio in Danish and English.<br/><br/>The Joint Arctic Command (AKO) collects and distributes information about the buoyage along the Greenland coast.<br/>The maritime traffic is very dependent on the reports submitted by mariners regarding extinguished lights, damaged or missing beacons and sightings of unknown reefs in the surveyed waters. Such messages can be called in by telephone directly to AKO or through the police, municipal officers and Aasiaat Radio.</span>
        </p>

        <p>For further information on the issuing of maritime safety information, see the annex to Notices to Mariners
            (EfS), <a href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                      target="_top">EfS A</a><span>, on the website of the Danish Maritime Authority.</span></p>

        <p>NAVTEX<br/>Many areas of the world, including Greenland, use the international system, NAVTEX, for
            broadcasting important and vital information to the maritime traffic. The NAVTEX system is part of the
            Global Maritime Distress and Safety System, GMDSS, and must be available on all cargo ships in international
            trade, on all passenger ships and on the largest fishing vessels.</p>

        <p>Greenland waters are covered by 2 transmitters located in Iceland at Grindavik and Saudarnes (East Greenland)
            and 3 transmitters located at Simiutaq, Nuuk, and Upernavik respectively (West Greenland).<br/>The
            broadcasts are operated remotely from the Joint Arctic Command (AKO). It is therefore the Maritime Rescue
            Coordinator Centre Nuuk (MRCC Nuuk) that edits and transmits the safety messages via NAVTEX.</p>

        <p>For details on the NAVTEX system&rsquo;s categories of messages and broadcast hours and areas, see the annex
            to Notices to Mariners (EfS), <a
                    href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                    target="_blank">EfS A</a><span>, on the website of the Danish Maritime Authority.</span></p>

        <p>Broadcast hours and areas are also listed in the radio handbooks, for example UKHO NP285, Admiralty List of
            Radio Signals, Volume 5 - Global Maritime Distress and Safety System (GMDSS).</p>

        <p>Navigational warnings<br/>Messages of importance to the safety at sea which cannot be published in Notices to
            Mariners (EfS) with sufficient notice, are broadcast by Aasiaat Radio as Navigational warnings. The coastal
            radio stations broadcast the notifications by radio telephony in both Danish and English. They are prepared
            by the Joint Arctic Command (AKO) in Nuuk.</p>

        <p>For details about the structure of the messages, broadcasting stations, frequencies, broadcast hours and
            period of transmission, see the annex to Notices to Mariners (EfS), <a
                    href="http://www.soefartsstyrelsen.dk/SikkerhedTilSoes/Sejladsinformation/EfS/Sider/EfSArkiv.aspx"
                    target="_blank">EfS A</a><span>, on the website of the Danish Maritime Authority.　</span></p>
    </div>
</div>