<div>
    <p>The management of the search and rescue service (SAR) in Greenland is divided between the Joint Arctic Command
        (AKO), the Air Rescue Coordination Centre in Kangerlussuaq and the Chief Constable of Greenland.</p>

    <p>The Joint Arctic Command, which staffs the Maritime Rescue Coordination Centre Nuuk (MRCC Nuuk), is responsible
        for the management of the maritime rescue service, meaning search and rescue operations involving distressed
        vessels of any kind, above or below sea level, irrespective of whether the relief measures are carried out at
        sea, from the air or on land.</p>

    <p>The Danish Transport Authority is responsible for the management of the air navigation service, meaning search
        and rescue operations for people in distress by aircraft, whether the relief measures are carried out from the
        air, at sea or on land.</p>

    <p>The Chief Constable of Greenland is responsible for the management of the local rescue service, meaning search
        and rescue operations in local waters and for search and rescue operations on land. The Joint Arctic Command has
        operational control of all Danish vessels deployed in search and rescue operations, and is authorized to assign
        such resources to specific search areas.<br/>Each ship&rsquo;s master, however, has full responsibility at all
        times for their own ship and crew.</p>

    <p><img src="partials/avpg/rescue.jpg" alt="Rescue"/></p>

    <p>Contact (24 hours a day):<br/>MRCC NUUK<br/>Tel.: +299 36 40 10<br/>Fax: +299 36 40 99<br/>Inmarsat C 433 116 710
        (email)<br/>Email: mrcc-nuuk@mil.dk
    </p>
    <p>RCC S&oslash;nderstr&oslash;m<br/>Tel.: +299 36 33 57<br/>Fax: +299 36 33 19</p>

    <p>Chief Constable of police<br/>Tel.: +299 70 14 48<br/>Fax: +299 32 41 94<br/>Email: politi@politi.gl
    </p>
    <p>For further information on the rescue service, alerts etc. in Greenland waters, see the annex to Notices to
        Mariners (EfS), <a
                href="http://www.soefartsstyrelsen.dk/AdvarslerEfterretninger/EfterretningerForSoefarende/Sider/Default.aspx"
                target="_blank"><span>EfS A</span></a><span>, on the website of the Danish Maritime Authority.</span>
    </p>

    <p>The International Maritime Organization (IMO) has prepared guidelines that provide relevant information for ships
        intending to navigate in Greenland waters. These guidelines are available here:<br/><span><a
                href="partials/avpg/MSC1Circ1184EnhancedContingencyPlanningGuidanceForPassengerShipsOperatingInAreasRemo.pdf"
                target="_blank"
                title="MSC.1/Circ.1184 - Enhanced Contingency Planning Guidelines for Passenger Ships Operating in Areas Remote from SAR Facilities (31 May 2006)">MSC.1/Circ.1184
            - Enhanced Contingency Planning Guidelines for Passenger Ships Operating in Areas Remote from SAR Facilities
            (31 May 2006)</a><br/><a href="partials/avpg/MSC1Circ1185GuideForColdWaterSurvivalSecretariat.pdf"
                                     target="_blank"
                                     title="MSC.1/Circ.1185 &ndash; Guide for Cold Water Survival (31 May 2006)">MSC.1/Circ.1185 &ndash;
            Guide for Cold Water Survival (31 May 2006)</a><br/></span></p>
    <div>
        References:
        <ul>
            <li><a href="map.html#/sar">ArcticWeb SAR support service</a></li>
        </ul>
    </div>
</div>