<script type="text/ng-template" id="addAssessmentLocation">
    <div class="modal-header">
        <button type="button" class="close" x-ng-click="$dismiss('aborted')">x</button>
        <h2>Create a new assessment location</h2>
    </div>
    <div class="modal-body">
        <p ng-if="loc.introduction">
            {{loc.introduction}}
        </p>
        <div class="container-fluid form-horizontal">
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-4">Latitude</div>
                <div class="col-xs-4">Longitude</div>
            </div>
            <div class="form-group" ng-if="loc.route">
                <label class="control-label col-xs-4">Location on route:</label>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" disabled class="form-control input-sm" id="y" latitude ng-model="loc.route.lat"/>
                </div>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" disabled class="form-control input-sm" id="x" longitude ng-model="loc.route.lon"/>
                </div>
            </div>

            <div class="form-group" ng-if="loc.vessel">
                <label class="control-label col-xs-4">Ais location:</label>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" disabled class="form-control input-sm" id="y" latitude ng-model="loc.vessel.ais.lat"/>
                </div>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" disabled class="form-control input-sm" id="x" longitude ng-model="loc.vessel.ais.lon"/>
                </div>
            </div>
            <div class="form-group" ng-if="loc.vessel">
                <label class="control-label col-xs-4">Override ais location:</label>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" step="any" class="form-control input-sm" id="y" latitude ng-model="loc.vessel.override.lat"/>
                </div>
                <div class="col-xs-4">
                    <!--suppress XmlDuplicatedId -->
                    <input type="text" step="any" class="form-control input-sm" id="x" longitude ng-model="loc.vessel.override.lon"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="name">Name:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="name" ng-model="loc.name"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-4">
                    <button class="btn btn-primary btn-xs" ng-click="$close(loc)">Save</button>
                    <button class="btn btn-default btn-xs" ng-click="$dismiss('assessment location creation cancelled')">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</script>
