<div class="col-xs-12 col-sm-4 col-md-3 sidebar controlPanelWide" ng-controller="SidebarController as sidebar">

    <div class="sidebar-visibility-button"
         ng-class="{'sidebar-visibility-button-shown': !sidebar.hidden, 'sidebar-visibility-button-hidden': sidebar.hidden}">
        <i ng-click="sidebar.toggleVisibility()" class="fa"
           uib-tooltip="{{sidebar.hidden ? 'Show side bar' : 'Hide side bar'}}" tooltip-placement="right"
           tooltip-append-to-body="true"
           ng-class="{'fa-chevron-left': !sidebar.hidden, 'fa-chevron-right': sidebar.hidden}" aria-hidden="true"></i>
    </div>

    <div ng-hide="sidebar.hidden">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <img src="img/vrmt/vrmt-icon.svg" aria-hidden="true"/><span style="padding-left: 5px;">Voyage Risk Management Tool</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div ng-if="sidebar.meta.mmsi">
                        <div class="text-with-button">
                            <div class="col-xs-8">
                                <img src="img/vessel_purple.png">
                                <span style="padding-left: 10px;">{{sidebar.meta.vesselName || 'Loading...'}}</span>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="sidebar.configure()" class="btn btn-primary btn-xs">
                                    Configure
                                </button>
                            </div>
                        </div>
                        <div class="text-with-button" ng-if="sidebar.meta.routeView.routeId">
                            <div class="col-xs-8">
                                Voyage from {{sidebar.meta.routeView.from}} to {{sidebar.meta.routeView.to}} with
                                departure on {{sidebar.meta.routeView.etaDep}}
                            </div>
                            <div class="col-xs-4">
                                <div mw-select-renderer>
                                    <button class="btn btn-primary btn-xs" ng-click="sidebar.routeDropdownClicked()">
                                        Change
                                    </button>
                                    <div class="btn-group-vertical button-dropdown">
                                        <button class="btn btn-default btn-xs" ng-click="routeView.choose()"
                                                ng-repeat="routeView in sidebar.routeViews">
                                            {{routeView.name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="!sidebar.meta.routeView.routeId">
                            Please create a voyage with an assosiated route in the Schedule menu. The menu is located
                            under the <a href="openlayer-map.html#/vessels">Vessel tab</a>
                        </div>
                    </div>
                    <div ng-if="!sidebar.meta.mmsi">
                        <div class="col-xs-12">
                            To make Risk Assessments you need to have the Sailor role i.e. have an MMSI number attached
                            to the ArcticWeb account.
                        </div>
                    </div>
                </div>
            </div>

            <uib-accordion close-others="true">
                <div class="panel" style="border: none" ng-controller="AssessController as assess">
                    <div uib-accordion-group is-open="assess.active">
                        <uib-accordion-heading>
                            <span data-ng-show="!assess.assessing">Assessment</span> <span
                                data-ng-show="assess.assessing">Assessment in progress <span
                                class="label label-primary">Started
                            {{assess.assessmentStartedAt}}</span></span>
                        </uib-accordion-heading>

                        <div class="table-responsive sidebar-assessment">
                            <table class="table table-condensed borderless-table">
                                <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>
                                        <div class="col-xs-12">Index</div>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-click="assessment.choose()"
                                    ng-class="{'active': assess.currentLocationAssessment.locationId == assessment.locationId}"
                                    ng-repeat="assessment in assess.assessmentViews">
                                    <td>
                                        {{assessment.locationName}}
                                        <span data-ng-show="assessment.valid"
                                              class="glyphicon glyphicon-ok text-success"></span>
                                    </td>
                                    <td>
                                        <div class="col-xs-12">
                                            <index-color index="assessment.index"></index-color>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs pull-right"
                                                ng-click="assessment.newAssessment()">
                                            edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="close" x-ng-click="assessment.deleteLocation()">
                                            x
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-xs-12">
                                <div class="pull-right">

                                    <button class="btn btn-primary btn-xs"
                                            data-ng-disabled="assess.assessing || assess.isInAssessable"
                                            ng-click="assess.startNew()" uib-tooltip="{{assess.newAssessmentTooltip}}" tooltip-append-to-body="true">
                                        New
                                    </button>
                                    <button class="btn btn-primary btn-xs"
                                            data-ng-disabled="!assess.assessing || !assess.isComplete"
                                            ng-click="assess.save()">
                                        Save
                                    </button>
                                    <button class="btn btn-primary btn-xs" data-ng-disabled="!assess.assessing"
                                            ng-click="assess.discard()">
                                        Discard
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-danger" style="padding-top: 10px;">
                                    {{assess.newAssessmentNotPossibleWarning}}
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-warning" data-ng-show="assess.assessing">
                                    <p></p>
                                    <p>
                                        Please note that if the assessment is not completed by
                                        <strong class="text-nowrap">{{assess.discardTime}}</strong> it will
                                        automatically be discarded.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group is-open="sidebar.safetyMeasuresActive">
                    <uib-accordion-heading>
                        Safety measures and decision making
                    </uib-accordion-heading>
                    <div class="container-fluid sidebar-grid" style="position: relative">
                        <div id="not-implemented"></div>
                        <div class="row sidebar-grid-heading sidebar-grid-row">
                            <div class="col-xs-12">Suggested Measures</div>
                        </div>
                        <div class="row sidebar-grid-row">
                            <div class="col-xs-6">Change of Route</div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-xs">Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="row sidebar-grid-row">
                            <div class="col-xs-6">Change of Landingsite</div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-xs">Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="row sidebar-grid-row">
                            <div class="col-xs-6">Assessment of Risk in Route Change</div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-xs">Assessment</button>
                                </div>
                            </div>
                        </div>
                        <div class="row sidebar-grid-row">
                            <div class="col-xs-6">Assesment of risk in Entering Harbour</div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-xs">Assessment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group is-open="sidebar.logOfMeasuresAndReportsActive"
                     style="overflow-y: auto; max-height: 400px;">
                    <uib-accordion-heading>
                        Log of assessments
                    </uib-accordion-heading>

                    <div class="container-fluid sidebar-grid">
                        <div class="row sidebar-grid-heading sidebar-grid-row">
                            <div class="col-xs-5">Assessment time</div>
                            <div class="col-xs-4">Max index</div>
                        </div>
                        <div class="row sidebar-grid-row" ng-repeat="assessment in sidebar.assessments">
                            <div class="col-xs-5">{{assessment.finished}}</div>
                            <div class="col-xs-4">
                                <index-color index="assessment.maxIndex"></index-color>
                            </div>
                            <div class="col-xs-3">
                                <div class="pull-right">
                                    <button class="btn btn-xs btn-primary" ng-click="assessment.showDetails()">Details
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row sidebar-grid-row">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="sidebar.showHistoricalOtherRoutes"
                                               style="margin-top: 0"> Show assessments for other voyages
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div ng-if="sidebar.showHistoricalOtherRoutes">
                            <div class="panel">
                                <div class="row panel-heading" ng-click="route.isCollapsed = !route.isCollapsed">
                                    <div class="panel-title">
                                        Voyage <span class="pull-right" style="padding-right: 30px;">Departure</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="route in sidebar.otherRoutes">
                                <div class="panel">
                                    <div class="row panel-heading" ng-click="route.isCollapsed = !route.isCollapsed">
                                        <div class="panel-title">
                                            <a role="button">{{route.dep}}-{{route.des}}
                                                <span class="pull-right glyphicon"
                                                      ng-class="{'glyphicon-menu-down': route.isCollapsed, 'glyphicon-menu-up': !route.isCollapsed}"></span>
                                                <span class="pull-right" style="padding-right: 15px;">{{route.departureDate}}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div uib-collapse="route.isCollapsed">
                                        <div class="row sidebar-grid-heading sidebar-grid-row">
                                            <div class="col-xs-5">Date and time</div>
                                            <div class="col-xs-4">Max index</div>
                                        </div>
                                        <div class="row sidebar-grid-row" ng-repeat="assessment in route.assessments">
                                            <div class="col-xs-5">{{assessment.finished}}</div>
                                            <div class="col-xs-4">
                                                <index-color index="assessment.maxIndex"></index-color>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="pull-right">
                                                    <button class="btn btn-xs btn-primary"
                                                            ng-click="assessment.showDetails()">Details
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>

</div>
