<div>
    <div class="e-small-font layer-switcher-button">
        <div>
            <a href=# style="color: white;" ng-click="toggle($event)">
                <img src="img/layers.svg" width="19px" height="19px">
            </a>
        </div>
    </div>
    <div class="layer-switcher e-small-font" style="max-height: 500px; overflow-y: auto;">
        <div ng-hide="hidden" on-escape="hide()" outside-click="hide()">
            <div class="container-fluid">
                <div class="row" ng-if="!features || features.length === 0">
                    No layers have been registered
                </div>
                <div class="row" ng-repeat="feature in features">
                    <div class="col-xs-12">

                        <h5>{{feature}}</h5>

                        <div class="checkbox"
                             ng-class="{disabled: isActive(feature)}"
                             ng-repeat="layer in featuresLayers.get(feature)">

                            <label for="{{layer.name}}">
                                <input type="checkbox"
                                       id="{{layer.name}}"
                                       ng-disabled="isActive(feature)"
                                       style="margin-top: 1px;"
                                       ng-model="layer.show"
                                       ng-change="layer.change()"/>

                                {{layer.name}} <span style="font-weight: bold; color: red;" ng-if="!layer.hasData()">(No data yet!)</span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>