<div class="col-xs-12 col-sm-3 col-md-3 sidebar">
    <div class="sidebar-visibility-button"
         ng-class="{'sidebar-visibility-button-shown': !sidebar.hidden, 'sidebar-visibility-button-hidden': sidebar.hidden}">
        <i ng-click="sidebar.toggleVisibility()" class="fa"
           ng-class="{'fa-chevron-left': !sidebar.hidden, 'fa-chevron-right': sidebar.hidden}" aria-hidden="true"></i>
    </div>

    <div ng-hide="sidebar.hidden">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <i class="fa fa-ship" aria-hidden="true" style="border: thin solid;border-radius: 3px;margin-right: 5px;"></i>VOYAGE RISK MANAGEMENT
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-3">
                            <img src="img/vessel_purple.png">
                        </div>
                        <div class="col-xs-9">
                            <span>02.06.2016 13:00 - 14:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <span style="background-color: yellow; color: transparent">aaa</span>
                        </div>
                        <div class="col-xs-9">
                            <span>Index: 1700</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <accordion close-others="true">
            <accordion-group is-open="sidebar.monitorAndReportActive">
                <accordion-heading>
                    MONITOR AND REPORT <span class="pull-right glyphicon"
                                             ng-class="{'glyphicon-menu-down': !sidebar.monitorAndReportActive, 'glyphicon-menu-up': sidebar.monitorAndReportActive}"></span>
                </accordion-heading>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Factor</th>
                            <th>Input</th>
                            <th>Index</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Ice conditions</td>
                            <td>5/10 - 2 year ice</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Time of season</td>
                            <td>June</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>Landing site</td>
                            <td>Paulet island</td>
                            <td>300</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="btn-primary">REPORT</button>
                        <button class="btn-primary">VIEW ALL</button>
                    </div>
                </div>

            </accordion-group>
            <accordion-group is-open="sidebar.safetyMeasuresActive">
                <accordion-heading>
                    SAFETY MEASURES <span class="pull-right glyphicon"
                                          ng-class="{'glyphicon-menu-down': !sidebar.safetyMeasuresActive, 'glyphicon-menu-up': sidebar.safetyMeasuresActive}"></span>
                </accordion-heading>
                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-heading sidebar-grid-row">
                        <div class="col-xs-12">SUGGESTED MEASURES</div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">CHANGE OF ROUTE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">CHANGE OF LANDINGSITE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="sidebar.decisionMakingActive">
                <accordion-heading>
                    DECISION MAKING <span class="pull-right glyphicon"
                                          ng-class="{'glyphicon-menu-down': !sidebar.decisionMakingActive, 'glyphicon-menu-up': sidebar.decisionMakingActive}"></span>
                </accordion-heading>
                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">ASSESMENT OF RISK IN ROUTE CHANGE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">ASSESMENT</button>
                            </div>
                        </div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">ASSESMENT OF RISK IN ENTERING HARBOUR</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">ASSESMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="sidebar.logOfMeasuresAndReportsActive">
                <accordion-heading>
                    LOG OF MEASURES AND REPORTS <span class="pull-right glyphicon"
                                                      ng-class="{'glyphicon-menu-down': !sidebar.logOfMeasuresAndReportsActive, 'glyphicon-menu-up': sidebar.logOfMeasuresAndReportsActive}"></span>
                </accordion-heading>

                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-heading sidebar-grid-row">
                        <div class="col-xs-4">DATE AND TIME</div>
                        <div class="col-xs-4">INDEX</div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-4">03-06-2016</div>
                        <div class="col-xs-4">1965</div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>

            </accordion-group>
        </accordion>
    </div>

</div>
