<div class="col-xs-12 col-sm-4 col-md-3 sidebar">
    <div class="sidebar-visibility-button"
         ng-class="{'sidebar-visibility-button-shown': !sidebar.hidden, 'sidebar-visibility-button-hidden': sidebar.hidden}">
        <i ng-click="sidebar.toggleVisibility()" class="fa"
           ng-class="{'fa-chevron-left': !sidebar.hidden, 'fa-chevron-right': sidebar.hidden}" aria-hidden="true"></i>
    </div>

    <div ng-hide="sidebar.hidden">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-ship" aria-hidden="true"
                           style="border: thin solid;border-radius: 3px;margin-right: 5px;"></i>VOYAGE RISK MANAGEMENT SUPPORT
                    </h4>
                </div>
                <div class="panel-body">
                    <div>
                        <div>
                            <img src="img/vessel_purple.png"><span style="padding-left: 10px;">{{sidebar.meta.vesselName}}</span>
                        </div>
                    </div>
                    <h4 class="text-center">Route: <strong>{{sidebar.meta.routeView.name}}</strong><button class="pull-right btn btn-primary btn-xs">Change route</button></h4>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Index</th>
                                    <th>Last Assessed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="sidebar.meta.chooseAssessment(assessment)" ng-class="{'active': sidebar.meta.currentAssessment.locationId == assessment.locationId}"  ng-repeat="assessment in sidebar.meta.assessmentViews">
                                    <td>{{assessment.locationName}}</td>
                                    <td>
                                        <index-color index="assessment.index"></index-color>
                                    </td>
                                    <td>{{assessment.lastAssessed | date: 'yyyy-MM-dd HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <accordion close-others="true">
            <accordion-group is-open="sidebar.monitorAndReportActive">
                <accordion-heading>
                    DETAILS FOR LOCATION: <strong>{{sidebar.meta.currentAssessment.locationName}}</strong> <span class="pull-right glyphicon"
                                             ng-class="{'glyphicon-menu-down': !sidebar.monitorAndReportActive, 'glyphicon-menu-up': sidebar.monitorAndReportActive}"></span>
                </accordion-heading>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Factor</th>
                            <th>Input</th>
                            <th>Index</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="factorAssessment in sidebar.meta.currentAssessment.factorAssessments">
                            <td>{{factorAssessment.factor}}</td>
                            <td>{{factorAssessment.value}}</td>
                            <td>{{factorAssessment.index}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" ng-click="sidebar.meta.newAssessment()">New assessment</button>
                    </div>
                </div>

            </accordion-group>
            <accordion-group is-open="sidebar.safetyMeasuresActive">
                <accordion-heading>
                    SAFETY MEASURES <span class="pull-right glyphicon"
                                          ng-class="{'glyphicon-menu-down': !sidebar.safetyMeasuresActive, 'glyphicon-menu-up': sidebar.safetyMeasuresActive}"></span>
                </accordion-heading>
                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-heading sidebar-grid-row">
                        <div class="col-xs-12">SUGGESTED MEASURES</div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">CHANGE OF ROUTE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">CHANGE OF LANDINGSITE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="sidebar.decisionMakingActive">
                <accordion-heading>
                    DECISION MAKING <span class="pull-right glyphicon"
                                          ng-class="{'glyphicon-menu-down': !sidebar.decisionMakingActive, 'glyphicon-menu-up': sidebar.decisionMakingActive}"></span>
                </accordion-heading>
                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">Assessment OF RISK IN ROUTE CHANGE</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">Assessment</button>
                            </div>
                        </div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-6">ASSESSMENT OF RISK IN ENTERING HARBOUR</div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button class="btn-primary">Assessment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="sidebar.logOfMeasuresAndReportsActive">
                <accordion-heading>
                    LOG OF MEASURES AND REPORTS <span class="pull-right glyphicon"
                                                      ng-class="{'glyphicon-menu-down': !sidebar.logOfMeasuresAndReportsActive, 'glyphicon-menu-up': sidebar.logOfMeasuresAndReportsActive}"></span>
                </accordion-heading>

                <div class="container-fluid sidebar-grid">
                    <div class="row sidebar-grid-heading sidebar-grid-row">
                        <div class="col-xs-4">DATE AND TIME</div>
                        <div class="col-xs-4">INDEX</div>
                    </div>
                    <div class="row sidebar-grid-row">
                        <div class="col-xs-4">03-06-2016</div>
                        <div class="col-xs-4">1965</div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <button class="btn-primary">DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>

            </accordion-group>
        </accordion>
    </div>

</div>
