<div class="navbar navbar-default navbar-fixed-top"
     x-ng-controller="MenuCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../"> <font color="#0080C0">Arctic</font><font color="#888888">Web</font></a>

    </div>
    <div class="navbar-collapse collapse" ng-class="{'version-mismatch': versionConflict}" id="navigationBar">
        <ul class="nav navbar-nav navtabs" show-active>
            <li>
                <a href="openlayer-map.html#/vessels">
                    <i class="fa fa-anchor" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Vessels
                </a>
            </li>
            <li>
                <a href="openlayer-map.html#/ice">
                    <i class="fa fa-asterisk" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Ice
                </a>
            </li>
            <li>
                <a href="openlayer-map.html#/nwnm">
                    <i class="fa fa-bullhorn" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Maritime Safety
                </a>
            </li>
            <li>
                <a href="openlayer-map.html#/weather">
                    <i class="fa fa-cloud" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Weather
                </a>
            </li>
            <li>
                <a href="openlayer-map.html#/forecasts">
                    <i class="fa fa-bar-chart" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Forecasts
                </a>
            </li>
            <li>
                <a href="openlayer-map.html#/sar">
                    <i class="fa fa-life-ring" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Search and Rescue
                </a>
            </li>
            <li x-requires-authenticated>
                <a href="openlayer-map.html#/setup">
                    <i class="fa fa-wrench" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Setup
                </a>
            </li>
            <li class="dropdown" uib-dropdown style="background-color: rgba(0,128,192,0.3);">
                <a class="dropdown-toggle" uib-dropdown-toggle href="#">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                    <span style="color: crimson">Beta Features</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu  role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-header" style="white-space: nowrap"> <i class="fa fa-check" aria-hidden="true"></i> New features</li>
                    <li style="padding: 3px 20px;">
                        <a href="openlayer-map.html#/vrmt">
                            <i class="fa fa-dashboard" style="vertical-align: middle; margin-bottom: 4px"></i>
                            VRMT
                        </a>
                    </li>
                </ul>
            </li>
            <li x-requires-permissions="Administration">
                <a href="admin.html#/users">
                    <i class="fa fa-user" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Users
                </a>
            </li>
            <li x-requires-permissions="Administration">
                <a href="admin.html#/log">
                    <i class="fa fa-fire" style="vertical-align: middle; margin-bottom: 4px"></i>
                    Log
                </a>
            </li>
            <li ng-if="versionConflict">
                <a href="version-mismatch.html" style=" color: white; font-weight: bold">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
                    Version conflict
                </a>
            </li>
        </ul>
        <p class="navbar-text navbar-right" style="margin-right: 0; padding-right: 10px;" x-requires-unauthenticated>
				<span> <a href="" x-ng-click="loginDlg()">Log In</a> | <a
                        href="content.html#/requestAccess">Request Access</a>
				</span>
        </p>
        <ul class="nav navbar-nav navtabs navbar-right" style="padding-right: 20px;">
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle href="#" role="button">About <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu  role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="content.html#feedback">Feedback</a></li>
                    <li><a tabindex="-1" href="content.html#cookies">Cookies</a></li>
                    <li><a tabindex="-1" href="content.html#disclaimer">Disclaimer</a></li>
                </ul>
            </li>
            <li class="dropdown" uib-dropdown x-requires-authenticated>
                <a class="dropdown-toggle" uib-dropdown-toggle href="#" role="button">
                    <i class="fa fa-user" style="vertical-align: middle; margin-bottom: 4px"></i>
                    {{authentication.userName}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdownMenu" x-ng-controller="ResetPasswordController as resetPasswd">
                    <li><a tabindex="-1" href="docs/" target="_blank">Manual as HTML (10 MB)</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#" x-ng-click="resetPasswd.changePasswordDialog($event)">Change Password</a></li>
                    <li><a tabindex="-1" href="#" x-ng-click="logout($event)">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
