html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #5A5A5A;
    overflow: hidden;
    left: 0;
    top: 0;
    position: fixed;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg);
    }
}

#messagePanel {
    z-index: 1039;
    position: absolute;
    bottom: -8px; /* 20 */
    left: 10px; /* 20 */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#map {
    background-color: #d0e4fe;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.vesselNameBox {
    margin-top: -24px;
}

#vesselPanel {
    display: none;
}

#vcpLegends .aw {
    color: #0080C0;
}

#hoveringBox {
    position: absolute;
}

.controlPanel {
    position: absolute;
    top: 50px; /* 55 */
    left: 10px;
    width: 300px;
    display: none;
}

/** Control size and position of sidepanels */

.controlPanel2, .controlPanelWide {
    position: absolute;
    top: 55px; /* 55 */
    left: 0;
    width: 300px;
}

.controlPanelWide {
    width: 100%;
}

@media (min-width: 768px) {
    .controlPanel2, .controlPanelWide {
        top: 90px;
        left: 10px;
        width: 300px;
    }

    .controlPanelWide {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .controlPanel2, .controlPanelWide {
        top: 50px;
        left: 10px;
        width: 300px;
    }

    .controlPanelWide {
        width: 400px;
    }
}

/** Position of zoom box */
.zoom-box {
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    z-index: 200;
    position: absolute;
    right: 100px;
    top: 80px;
    background-color: rgba(0, 60, 136, 0.5);
    width: 130px;
}

@media (min-width: 768px) {
    .zoom-box {
        top: 90px;
    }
}

@media (min-width: 1200px) {
    .zoom-box {
        top: 80px;
    }
}


.accordion-group {
    background-color: white;
}

#zoomControlPanel {
    position: absolute;
    width: 160px;
    top: 50px;
    right: 30px;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#searchLoad {
    display: none;
}

#scheduleViewPanel {
    padding: 0 15px;
}

#icpIceMaps h5 {
    font-size: 12px;
}

.e-btn-tall {
    height: 32px;
    font-size: 10px;
}

.e-btn-low {
    height: 19px;
    font-size: 10px;
}

.e-btn-wide {
    width: 110px;
    font-size: 10px;
}

.e-accordion-toggle {
    font-size: 14px;
    font-weight: bold;
}

.e-accordion-inner {
    overflow: auto;
}

.e-accordion-inner h4, .controlPanel2 .panel-group .panel-body h4 {
    font-size: 14px;
}

.e-control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
}

.panel-group .panel-heading {
    padding: 10px;
    background-color: inherit;
    color: inherit;
    border-bottom: none;
}

.panel-group .panel-heading .panel-title a {
    color: #428bca;
    font-size: 14px;
    font-weight: bold;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}

.e-panel-heading {
    padding: 10px;
}

.e-panel-header {
    margin: 0;
}

.e-iceprovider label {
    font-weight: normal;
}

.txt, .txt span, .txt div {
    padding-left: 10px;
    padding-top: 5px;
}

.txt input[type='checkbox'] {
    margin-left: 10px;
}

.form-group .col-xs-1, .form-group .col-xs-2, .form-group .col-xs-3, .form-group .col-xs-4, .form-group .col-xs-5, .form-group .col-xs-6, .form-group .col-xs-7, .form-group .col-xs-8, .form-group .col-xs-9, .form-group .col-xs-10, .form-group .col-xs-11, .form-group .col-xs-12 {
    padding-right: 7px;
    padding-left: 7px;
}

/** Reporting panels activated from the control panel/sidebar and positioned relative to them */
.e-reporting-panel, .e-reporting-panel-wide {
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1039;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 11px;
}

.e-reporting-panel-wide {
    background-color: transparent;
    width: 100%;
}

@media (min-width: 768px) {
    .e-reporting-panel, .e-reporting-panel-wide {
        top: 90px;
    }

    .e-reporting-panel {
        left: 315px;
    }

    .e-reporting-panel-wide {
        left: 415px;
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .e-reporting-panel, .e-reporting-panel-wide {
        top: 50px;
    }
}

.input-sm, .input-group-addon, select.input-sm, button.btn-sm {
    height: 25px;
    padding: 3px 6px;
}

.input-mini {
    width: 30px;
}

.input-small {
    width: 60px;
}

.input-medium {
    width: 90px;
}

.input-large {
    width: 150px;
}

.input-xlarge {
    width: 210px;
}

.input-xxlarge {
    width: 270px;
}

#searchField {
    width: 235px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .controlPanel {
        width: 250px;
    }

    .input-mini {
        width: 30px;
    }

    .input-small {
        width: 50px;
    }

    .input-medium {
        width: 70px;
    }

    .input-large {
        width: 100px;
    }

    .input-xlarge {
        width: 140px;
    }

    .input-xxlarge {
        width: 180px;
    }

    #searchField {
        width: 185px;
    }
}

.noaccelerate .olTileImage {
    -webkit-backface-visibility: visible !important;
    -webkit-transform: none !important;
}

.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

.legends table tbody tr td {
    vertical-align: middle;
}

.searchResultItem {
    margin-top: 5px;
    margin-bottom: 5px;
}

.e-alert-danger{
	color : #a94442
}

input[type="range"].e-forecast {
	width: 200px;
}

table.table > tbody.e-noborder {
	border: 0 solid transparent;
}

table.table > tbody.e-noborder > tr > td {
	border-top: 0 solid transparent;
}

table.table > tbody.e-noborder > tr > td.e-bottomborder {
	border-bottom: 1px solid #ddd;
}

.map {
    height: 100%;
}

.map-mouse-position {
    position: absolute;
    right: 100px;
    top: 50px;
    border-radius: 4px;
    padding: 4px;
    width: 130px;
    height: 21px;
    text-align: center;
    font-size: 10px;
    color: white;
    z-index: 100;
    background-color: rgba(0, 60, 136, 0.5);
}

/** Layer switcher */
.layer-switcher-button, .layer-switcher {
    position: absolute;
    z-index: 150;
    background-color: rgba(0, 60, 136, 0.5);
    border-radius: 4px;
}
.layer-switcher-button {
    /*top: 50px;*/
    bottom: 90px;
    width: 22px;
    right: 10px;
    padding: 1px;
}

.layer-switcher {
    bottom: 10px;
    width: 230px;
    right: 50px;
    color: white;
}

@media (min-width: 1200px) {
    .layer-switcher-button, .layer-switcher {
        right: 240px;
    }

    .layer-switcher-button {
        top: 50px;
        bottom: auto;
        width: 22px;
    }

    .layer-switcher {
        top: 80px;
        bottom: auto;
        width: 230px;
    }
}

/* Overriding OL4 style*/
.ol-attribution ul {
    font-size: small;
}

.ol-attribution {
    bottom: 50px;
    right: 10px;
}

.ol-custom-overviewmap {
    right: 0.5em;
    left: auto;
    top: 8.5em;
    bottom: auto;
}

.ol-zoom {
    left: auto;
    right: 10px;
    top: 28px;
    background-color: rgba(0, 60, 136, 0.5);
    padding: 0 0 0 0;
}

@media (min-width: 768px) {
    .ol-zoom {
        top: 48px;
    }

}
@media (min-width: 1200px) {
    .ol-zoom {
        top: 8px;
    }
}

.ol-control button {
    background-color: #337ab7
}

.popover {
    font-size: 1em;
    width: 240px;
}
/* End Overriding OL4 style*/



/** sidebar **/

.sidebar {
    padding: 0;
}

.sidebar-grid {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-grid-heading {
    border-bottom: solid thin lightgray;
    font-weight: bold;
}

.sidebar-grid-row {
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar-visibility-button {
    position: absolute;
    top: 25px;
    width: 20px;
    height: 20px;
}
.sidebar-visibility-button-shown {
    right: 10px;
}

.sidebar-visibility-button-hidden {
    left: 0;
    background-color: rgba(0, 60, 136, 0.5);
    border-radius: 4px;
    padding-left: 5px;
    margin-left: 1px;
}

/** Select **/
ul.dropdown-menu {
    min-width: inherit;
}

.dropdown-menu > li > button {
    background-color: inherit;
    width: 100%;
    text-align: left;
}

.dropdown-menu > li > button:hover,
.dropdown-menu > li > button:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

h4.text-center  {
    padding: 11px 16px; /* Extra pixel top and bottom for border on buttons */
    line-height: 1.33;
    margin: 0;
}

/** Context Function **/
.button-dropdown button {
    text-align: left;
}

/** Form **/
.form-horizontal-3rd-col {
    text-align: right;
    padding-top: 7px;
}

/** vertical aligning text with button**/
.text-with-button  {
    display: flex;
    padding-bottom: 5px;
}
.text-with-button > div:first-child {
    line-height: 1.5;
    padding-top: 4px;
}

/** Striped div rows **/
.div-striped > .row:nth-of-type(odd) {
    background-color: #f5f5f5;
}
