<div class="col-xs-12 col-sm-12 col-md-12 visible-lg timeline" ng-controller="TimelineController as timeline">
    <button type="button" class="btn btn-info btn-xs pull-right" ng-click="timeline.hidden = !timeline.hidden">
        <span class="glyphicon" ng-class="{'glyphicon-menu-down': !timeline.hidden, 'glyphicon-menu-up': timeline.hidden}"></span>
        Risk forecast
    </button>
    <div collapse="timeline.hidden">

        <svg xmlns="http://www.w3.org/2000/svg" ng-attr-width="{{timeline.timelineDimensions.width}}"
             ng-attr-height="{{timeline.timelineDimensions.height}}"
             xmlns:xlink="http://www.w3.org/1999/xlink">


            <!-- index lines -->
            <line ng-attr-x1="{{index.x1}}" ng-attr-y1="{{index.y1}}" ng-attr-x2="{{index.x2}}"
                  ng-attr-y2="{{index.y2}}" ng-attr-style="stroke:{{index.color}};stroke-width:1px;"
                  ng-repeat="index in timeline.calculatedIndexes"></line>


            <!-- index transition lines -->
            <line x1="0" ng-attr-y1="{{timeline.timelineDimensions.redThreshold}}" ng-attr-x2="{{timeline.timelineDimensions.width}}"
                  ng-attr-y2="{{timeline.timelineDimensions.redThreshold}}" style="stroke:#D3D3D3;stroke-width:1px;"></line>
            <line x1="0" ng-attr-y1="{{timeline.timelineDimensions.yellowThreshold}}" ng-attr-x2="{{timeline.timelineDimensions.width}}"
                  ng-attr-y2="{{timeline.timelineDimensions.yellowThreshold}}" style="stroke:#D3D3D3;stroke-width:1px;"></line>

            <!-- ruler -->
            <line x1="1" ng-attr-y1="{{timeline.timelineDimensions.baseline}}" ng-attr-x2="{{timeline.timelineDimensions.width}}"
                  ng-attr-y2="{{timeline.timelineDimensions.baseline}}" style="stroke:#D3D3D3;stroke-width:1px;"></line>
            <line ng-attr-x1="{{time.x1}}" ng-attr-y1="{{timeline.timelineDimensions.baseline - 5}}" ng-attr-x2="{{time.x1}}"
                  ng-attr-y2="{{timeline.timelineDimensions.baseline + 5}}" style="stroke:#D3D3D3;stroke-width:1px;"
                  ng-repeat="time in timeline.times"></line>

            <!-- Vessel with lead line-->
            <defs>
                <g id="vessel" fill="#9405ff" stroke="#9405ff">
                    <polyline points="0,0 20,0 30,6 20,12 0,12 4,6"
                              ng-attr-transform="translate(-10,{{timeline.timelineDimensions.baseline - 6}})"></polyline>
                    <line x1="0" y1="0" x2="0" ng-attr-y2="{{timeline.timelineDimensions.baseline}}"
                          style="stroke-width: 1px;stroke-dasharray: 10 5;"></line>
                </g>
            </defs>

            <use xlink:href="#vessel" ng-attr-x="{{timeline.choosenTime}}" y="0"></use>

            <!-- ruler catch area -->
            <rect x="1" ng-attr-y="{{timeline.timelineDimensions.baseline - 5}}" ng-attr-width="{{timeline.timelineDimensions.width}}"
                  height="10" fill-opacity="0" ng-click="timeline.moveVessel($event)"></rect>

        </svg>
    </div>

</div>
