    <div class="visible-lg-block visible-md-block e-small-font" style="padding: 5px 5px 5px 5px; border-radius: 4px; z-index: 200; position: absolute; right: 100px; top: 80px;background-color: rgba(0, 60, 136, 0.5);width: 130px;">
        <div class="clearfix" style="background-color: white;padding: 5px 5px 5px 5px;border-radius: 4px;">

            <div class="col-xs-12" style="padding: 0 0 0 0;">
                <button class="btn e-btn-wide btn-primary btn-xs" ng-click="zoomAllArctic()">Zoom All Arctic</button>
            </div>
            <div class="col-xs-12" requires-permissions="Sailor" style="padding: 5px 0 0 0;">
                <button class="btn e-btn-wide btn-primary btn-xs" ng-click="zoomMyVessel()">Zoom to Your Vessel</button>
            </div>
        </div>
    </div>
