.assessment-editor {
    width: 420px;
    padding-right: 0;
}

.assessment-factor-config {
    width: 430px;
}

.assessment-factor-config .container-fluid {
    padding-right: 0;
}

.assessment-factor-config .row {
    margin-right: 0;
}

.assessment-factor-config .col-xs-12 {
    padding-right: 0;
}

.assessment-factor-config .panel-open {
    max-height: 400px;
    overflow-y: auto;
}

.assessment-view {
    width: 550px;
    padding-right: 0;
}

.assessment-view .panel-group .panel-title a {
    font-size: 12px;
}
