<div class="col-xs-12 col-lg-4" style="z-index: 999" ng-hide="assessCreate.hide" ng-controller="AssessmentEditorController as assessCreate">

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <button type="button" class="close" x-ng-click="assessCreate.dismiss()">x</button>
                </div>
                <h4>Make risk assessment for location {{assessCreate.chosenLocation()}}</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="factorAssessment in assessCreate.factorAssessments">
                        <label class="control-label col-xs-6" for="{{factorAssessment.name}}">{{factorAssessment.name}}</label>
                        <div class="col-xs-4">
                            <!--suppress XmlDuplicatedId -->
                            <select ng-if="factorAssessment.hasChoices" class="form-control input-sm" id="{{factorAssessment.name}}"
                                    ng-model="factorAssessment.model"
                                    ng-options="model.name for model in factorAssessment.scoreOptions">
                            </select>
                            <!--suppress XmlDuplicatedId -->
                            <input ng-if="!factorAssessment.hasChoices" type="number" class="form-control input-sm"
                                   id="{{factorAssessment.name}}"
                                   ng-model="factorAssessment.model.index"
                                   min="{{factorAssessment.minIndex}}" max="{{factorAssessment.maxIndex}}"/>
                        </div>
                        <div class="col-xs-2 form-horizontal-3rd-col">
                            {{factorAssessment.model.index}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-6 col-xs-4">
                            <button class="btn btn-default btn-sm" ng-click="assessCreate.save()">Save</button>
                            <button class="btn btn-default btn-sm" ng-click="assessCreate.dismiss()">Cancel</button>
                        </div>
                        <div class="col-xs-2 form-horizontal-3rd-col">
                            <index-color index="assessCreate.sum()"></index-color>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>