<div class="col-xs-12 col-lg-4 e-reporting-panel-wide assessment-view" ng-hide="assess.hide" ng-controller="AssessmentViewController as assess">

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <button type="button" class="close" x-ng-click="assess.dismiss()">x</button>
                </div>
                <h4>Assessment finished on {{assess.finished}}</h4>
            </div>
        </div>
        <uib-accordion close-others="true">
            <div class="panel" style="border: none" ng-repeat="locationAssessment in assess.locationAssessments">
                <div uib-accordion-group is-open="locationAssessment.active">
                    <uib-accordion-heading>
                        <strong>{{locationAssessment.location.name}} ({{locationAssessment.location | lonlat:{ decimals : 2, pp: true } }})</strong>
                        assessed {{locationAssessment.time}}

                        <span class="pull-right">
                            <index-color index="locationAssessment.index"></index-color>
                        </span>
                    </uib-accordion-heading>

                    <table class="table table-condensed borderless-table">
                        <tr>
                            <th>Factor</th>
                            <th>Source</th>
                            <th>Value</th>
                            <th>Index</th>
                        </tr>
                        <tr ng-repeat="score in locationAssessment.scores">
                            <td>{{score.factorName}}</td>
                            <td><source-label source="score.source"></source-label> </td>
                            <td>{{score.name}}</td>
                            <td>{{score.index}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><index-color index="locationAssessment.index"></index-color></td>
                        </tr>
                        <tr>
                            <td><strong>Note:</strong></td>
                            <td colspan="3">{{locationAssessment.note}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>