<div x-ng-controller="AVPGController">
    <div id="avpgControlPanel" accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
        <div accordion-group heading="Carriage Requirements">
            <h4>
                <a href="#" x-ng-click="viewText('1', $event)">Navigational Warnings Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('2', $event)">Radio Aids to Navigation</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('3', $event)">List of Lights and Buoys and Aids to Navigation</a>
            </h4>
            <ul>
                <li x-ng-repeat="light in lights"><a href="#" x-ng-click="selectLight(light, $event)">{{light.description}}</a></li>
            </ul>
            <div>{{selected.light}}</div>
            <h4>
                <a href="#" x-ng-click="viewText('4', $event)">Nautical Charts and Publications services</a>
            </h4>
        </div>
        <div accordion-group heading="Regulatory Requirements">
            <h4>
                <a href="#" x-ng-click="viewText('5', $event)">Acts and Regulations specific to marine navigation (similar to S-49 E.3.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('6', $event)">IMO Guidelines for Operating in Polar Waters</a>
            </h4>
        </div>
        <div accordion-group heading="Arctic Environmental Conditions">
            <h4>
                <a href="#" x-ng-click="viewText('7', $event)">Communities and Populated Areas Information</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('8', $event)">Weather Station Locations and Services Available (similar to S-49 E.4.2 and U.4))</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('9', $event)">Airports and Hospitals</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('10', $event)">Resource Development Significant Locations</a>
            </h4>
        </div>
        <div accordion-group heading="Route Planning">
            <h4>
                <a href="#" x-ng-click="viewText('11', $event)">Traditional Traffic Routes (similar to S-49 E.3.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('12', $event)">Controlled Navigational Areas including Vessel Traffic Services Zones</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('13', $event)">Limiting Depth For Constricted Waterways</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('14', $event)">Environment Protected Areas</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('15', $event)">Major Aids to Navigations (similar to S-49 E.1.2 and U.1.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('16', $event)">Places of refuge or Pilot Boarding Stations (similar to S-49 E.1.5)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('17', $event)">Calling-in Points (similar to S-49 E.4.1)</a>
            </h4>
        </div>
        <div accordion-group heading="Reporting and Communicating">
            <h4>
                <a href="#" x-ng-click="viewText('18', $event)">Areas of Legislative Importance to Navigation</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('19', $event)">Marine Communication Services (similar calling-in info to S-49 E.4.1)</a>
            </h4>
        </div>
        <div accordion-group heading="Marine Services">
            <h4>
                <a href="#" x-ng-click="viewText('20', $event)">Ice Breaking Support Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('21', $event)">Search and Rescue Support Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('22', $event)">Ice Services Information (similar to S-49 U.6.4)</a>
            </h4>
        </div>
        <div accordion-group heading="Nautical Charts and Publications">
            <h4>
                <a href="#" x-ng-click="viewText('23', $event)">Nautical Chart Catalogue and Coverage</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('24', $event)">Publication Catalogue and Coverage</a>
            </h4>
        </div>
    </div>
</div>