<div x-ng-controller="AVPGController">
    <div id="avpgControlPanel" accordion close-others="true" e-left-bar open-first="true" class="controlPanel2">
        <div accordion-group heading="Carriage Requirements">
            <h4>
                <a href="#" x-ng-click="viewText('1', $event)">Navigational Warnings Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('2', $event)">Radio Aids to Navigation</a>
            </h4>

            <div id="CarriageRequirementsPanel" accordion close-others="false" class="controlPanel3">
                <div accordion-group heading="List of Lights and Buoys and Aids to Navigation">
                    <div>
                        <div><a href="#" x-ng-click="viewText('3', $event)">Introduction to navaid</a></div>
                        <table class="table table-condensed">
                            <tbody>
                            <tr x-ng-repeat="light in lights | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <td>{{light.AFM_NAVN}}</td>
                                <td style="text-align: right;"><a href="#" x-ng-click="selectLight(light, $event)">view</a> </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage < 50" ng-click="currentPage=currentPage-50">
                            -50
                        </button>
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage < 10" ng-click="currentPage=currentPage-10">
                            -10
                        </button>
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            -1
                        </button>
                        {{currentPage+1}}/{{numberOfPages()}}
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage >= lights.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                            +1
                        </button>
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage >= lights.length/pageSize - 10" ng-click="currentPage=currentPage+10">
                            +10
                        </button>
                        <button class="btn e-btn-low btn-primary btn-xs" ng-disabled="currentPage >= lights.length/pageSize - 50" ng-click="currentPage=currentPage+50">
                            +50
                        </button>
                    </div>
                </div>
                <div accordion-group heading="Selected AtoN" is-open="selected.open"
                     e-left-bar-content-change="{{selected.aton}}">
                    <div x-ng-if="!selected.aton">Nothing selected</div>
                    <div id="selectedAton" x-ng-show="selected.aton">
                        <table class="table table-condensed">
                            <tbody>
                            <tr><td>Type</td><td>{{selected.aton.AFMSTATION}}</td></tr>
                            <tr><td>Name</td><td>{{selected.aton.AFM_NAVN}}</td></tr>
                            <tr><td>Lattitude</td><td>{{selected.aton.BREDDE}}</td></tr>
                            <tr><td>Longitude</td><td>{{selected.aton.LAENGDE}}</td></tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

            <h4>
                <a href="#" x-ng-click="viewText('4', $event)">Nautical Charts and Publications services</a>
            </h4>
        </div>
        <div accordion-group heading="Regulatory Requirements">
            <h4>
                <a href="#" x-ng-click="viewText('5', $event)">Acts and Regulations specific to marine navigation (similar to S-49 E.3.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('6', $event)">IMO Guidelines for Operating in Polar Waters</a>
            </h4>
        </div>
        <div accordion-group heading="Arctic Environmental Conditions">
            <h4>
                <a href="#" x-ng-click="viewText('7', $event)">Communities and Populated Areas Information</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('8', $event)">Weather Station Locations and Services Available (similar to S-49 E.4.2 and U.4))</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('9', $event)">Airports and Hospitals</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('10', $event)">Resource Development Significant Locations</a>
            </h4>
        </div>
        <div accordion-group heading="Route Planning">
            <h4>
                <a href="#" x-ng-click="viewText('11', $event)">Traditional Traffic Routes (similar to S-49 E.3.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('12', $event)">Controlled Navigational Areas including Vessel Traffic Services Zones</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('13', $event)">Limiting Depth For Constricted Waterways</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('14', $event)">Tide, Current and Water Level information (similar to S-49 U.6.1)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('15', $event)">Environment Protected Areas</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('16', $event)">Major Aids to Navigations (similar to S-49 E.1.2 and U.1.2)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('17', $event)">Places of refuge or Pilot Boarding Stations (similar to S-49 E.1.5)</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('18', $event)">Calling-in Points (similar to S-49 E.4.1)</a>
            </h4>
        </div>
        <div accordion-group heading="Reporting and Communicating">
            <h4>
                <a href="#" x-ng-click="viewText('19', $event)">Areas of Legislative Importance to Navigation</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('20', $event)">Marine Communication Services (similar calling-in info to S-49 E.4.1)</a>
            </h4>
        </div>
        <div accordion-group heading="Marine Services">
            <h4>
                <a href="#" x-ng-click="viewText('21', $event)">Ice Breaking Support Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('22', $event)">Search and Rescue Support Services</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('23', $event)">Ice Services Information (similar to S-49 U.6.4)</a>
            </h4>
        </div>
        <div accordion-group heading="Nautical Charts and Publications">
            <h4>
                <a href="#" x-ng-click="viewText('24', $event)">Nautical Chart Catalogue and Coverage</a>
            </h4>
            <h4>
                <a href="#" x-ng-click="viewText('25', $event)">Publication Catalogue and Coverage</a>
            </h4>
        </div>
    </div>
</div>