<!DOCTYPE html>
<html lang="en" manifest="map.appcache" type="text/cache-manifest">
<head>
    <meta charset="utf-8"/>
    <title>ArcticWeb - Map</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/cached/cdn.netdna/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cached/cdn.netdna/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.css" rel="stylesheet">

    <!-- build:css css/arcticweb-openlayer-map-ext-lib.css -->
    <link href="css/ext/jquery-file-upload-9.5.7/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
    <link href="css/ext/jquery-file-upload-9.5.7/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">
    <link href="css/ext/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->

    <!-- build:css css/arcticweb-openlayer-map.css -->
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/map.css" rel="stylesheet" type="text/css">
    <link href="css/ice.css" rel="stylesheet" type="text/css">
    <link href="css/vesselInformation.css" rel="stylesheet" type="text/css">
    <link href="css/schedule.css" rel="stylesheet" type="text/css">
    <link href="css/route.css" rel="stylesheet" type="text/css">
    <link href="css/greenpos.css" rel="stylesheet" type="text/css">
    <link href="css/sar.css" rel="stylesheet" type="text/css">
    <link href="css/nwnm.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->

    <script src="js/cached/common/cdn.cloudflare/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="js/cached/map/cdn.cloudflare/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>

    <script src="js/cached/common/cdn.googleapis/angularjs/1.2.27/angular.js" type="text/javascript"></script>
    <script src="js/cached/common/cdn.googleapis/angularjs/1.2.27/angular-cookies.js" type="text/javascript"></script>
    <script src="js/cached/common/cdn.cloudflare/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script src="js/cached/map/cdn.netdna/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.js" type="text/javascript"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol-debug.js" type="text/javascript"></script>-->
    <script src='js/cached/map/cdn.cloudflare/pouchdb/5.1.0/pouchdb.js'></script>
</head>

<body id="beta">

<div x-ng-include="'partials/common/authentication.html'"></div>
<div x-ng-include="'partials/common/menu.html'"></div>
<div class="menuDivider"></div>
<div id="map" class="container-fluid" style="padding-left: 0; padding-right: 0; position: relative">
    <div class="row">
        <openlayer-parent class="map col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <openlayer-mouse-position></openlayer-mouse-position>
            <map-position></map-position>
            <route requires-authenticated></route>
            <vessel requires-authenticated></vessel>
            <distance-to-nearest requires-authenticated></distance-to-nearest>
            <distance-circles requires-authenticated></distance-circles>
        </openlayer-parent>
    </div>
</div>

<div id="hoveringBox"></div>

<div id="messagePanel"></div>

<div>
    <!--<div x-ng-include="'partials/settings.html'"></div>-->

    <div e-location-enabled="vessels">
        <div class="controlContainer e-small-font">
            <div x-ng-include="'vessel/vessel-control.html'"></div>
        </div>

        <div x-ng-include="'vessel/ais-information.html'"></div>
        <div x-ng-include="'vessel/vessel-information-view.html'"></div>
        <div x-ng-include="'vessel/schedule-view.html'"></div>
        <div x-ng-include="'vessel/greenpos-list.html'" requires-permissions="Reporting,Administration"></div>

        <div requires-permissions="Sailor">
            <div x-ng-include="'vessel/vessel-information-edit.html'"></div>
            <div x-ng-include="'vessel/schedule.html'"></div>
            <div x-ng-include="'vessel/route-upload.html'"></div>
            <div x-ng-include="'vessel/route-edit.html'"></div>
            <div x-ng-include="'vessel/greenpos-report.html'"></div>
        </div>
    </div>

<!--
    <div e-location-enabled="ice">
        <div class="controlContainer e-small-font">
            <div x-ng-include="'partials/ice-control.html'"></div>
        </div>
        <div x-ng-include="'partials/satelliteImageInformation.html'"></div>
    </div>
-->

<!--
    <div class="controlContainer e-small-font">
        <div e-location-enabled="nwnm">
            <div x-ng-include="'partials/nwnm-control.html'"></div>
        </div>
        <div e-location-enabled="weather">
            <div x-ng-include="'partials/weather-control.html'"></div>
        </div>
        <div e-location-enabled="forecasts">
            <div x-ng-include="'partials/forecast-control.html'"></div>
        </div>
        <div e-location-enabled="sar">
            <div x-ng-include="'partials/sar-control.html'"></div>
            <div x-ng-include="'partials/sar-edit.html'"></div>
            <div x-ng-include="'partials/sar-effort-allocation-edit.html'"></div>
        </div>
        <div e-location-enabled="setup">
            <div x-ng-include="'partials/select-area-control.html'"></div>
        </div>

        <div x-ng-include="'partials/switch-base-map.html'"></div>
    </div>
-->

<!--
    <div id="zoomControlPanel" x-ng-controller="ZoomController" class="e-small-font">
        <div class="pull-right">
            <p>
                <button id="dmaZoomIn" class="btn btn-primary btn-xs" x-ng-class="zoomClasses()">
                    <i class="fa fa-plus"></i>
                </button>
            <p style="margin-bottom: 5px;"></p>
            <button id="dmaZoomOut" class="btn btn-primary btn-xs" x-ng-class="zoomClasses()">
                <i class="fa fa-minus"></i>
            </button>
            </p>
        </div>
        <p>
            <button class="btn e-btn-wide btn-primary btn-xs" x-ng-click="zoomAll()">Zoom All Arctic</button>
        </p>
        <p requires-permissions="Sailor" x-ng-controller="ZoomYourVesselCtrl">
            <button class="btn e-btn-wide btn-primary btn-xs" x-ng-click="zoomToYourVessel()">Zoom to Your Vessel
            </button>
        </p>
        <p>
            <button class="btn e-btn-wide btn-primary btn-xs" x-ng-click="switchBaseMap()">Switch Base Map</button>
        </p>
        <div style="float: left" class="e-small-font">
            <b>Pointer coordinates:</b> <br/> <span id="coords"></span><span id="coords2"></span>
        </div>
    </div>
-->
</div>

<!-- The main application script -->
<!-- build:js js/arcticweb-openlayer-map.js -->

<script src="js/ext/bloodhound.min.js"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/ext/jquery-file-upload-9.5.7/js/jquery.iframe-transport.js"></script>
<script src="js/ext/jquery-file-upload-9.5.7/js/jquery.fileupload.js"></script>
<script src="js/ext/jquery-file-upload-9.5.7/js/jquery.fileupload-process.js"></script>
<script src="js/ext/jquery-file-upload-9.5.7/js/jquery.fileupload-validate.js"></script>
<script src="js/ext/jquery-file-upload-9.5.7/js/jquery.fileupload-angular.js"></script>

<script src="js/ext/moment.min.js"></script>
<script src="js/ext/bootstrap-datetimepicker.js"></script>
<script src="js/ext/angular-pouchdb-4.1.0.js"></script>

<script src="js/ext/turf.min.js"></script>

<script src="js/utils.js"></script>
<script src="js/embryo.js"></script>
<script src="js/authentication.js" type="text/javascript"></script>
<script src="js/menu.js" type="text/javascript"></script>

<script src="js/service/couchdb-services.js"></script>
<script src="js/service/pouchdb-services.js"></script>
<script src="js/service/storage-services.js"></script>
<script src="js/service/subscription-service.js" type="text/javascript"></script>
<script src="components/geo/geo-service.js"></script>
<script src="js/service/route-service.js"></script>
<script src="js/service/schedule-service.js"></script>
<script src="js/service/greenpos-service.js"></script>
<script src="js/service/shape-service.js"></script>
<script src="js/service/select-area-service.js" type="text/javascript"></script>
<script src="js/service/common-service.js" type="text/javascript"></script>
<script src="components/vessel/route-model.js" type="text/javascript"></script>

<script src="js/ext/arc.js"></script>

<script src="components/comparison/attribute-model.js" type="text/javascript"></script>
<script src="components/comparison/lteq-directive.js" type="text/javascript"></script>
<script src="components/comparison/gteq-directive.js" type="text/javascript"></script>

<script src="vessel/additional-information.js" type="text/javascript"></script>
<script src="js/layer/clustering.js" type="text/javascript"></script>

<script src="js/control/control.js"></script>
<script src="vessel/vessel-control.js"></script>
<script src="vessel/your-ship.js" type="text/javascript"></script>
<script src="js/control/greenpos-control.js" type="text/javascript"></script>
<script src="js/control/ais-information.js"></script>
<script src="select-area/select-area-control.js"></script>

<script src="js/reporting/reporting-panel.js"></script>
<script src="js/reporting/position.js"></script>
<script src="js/reporting/course.js"></script>
<script src="js/reporting/decimal.js"></script>
<script src="js/reporting/datetimepicker.js"></script>
<script src="js/reporting/validation.js"></script>
<script src="vessel/report/ship-information.js" type="text/javascript"></script>
<script src="vessel/report/route-edit.js" type="text/javascript"></script>
<script src="vessel/report/schedule.js" type="text/javascript"></script>
<script src="vessel/report/route-upload.js" type="text/javascript"></script>
<script src="vessel/report/greenpos.js" type="text/javascript"></script>
<script src="vessel/greenpos-control.js" type="text/javascript"></script>
<script src="vessel/map/route-directive.js" type="text/javascript"></script>
<script src="vessel/map/vessel-directive.js" type="text/javascript"></script>
<script src="vessel/map/distance-to-nearest-directive.js" type="text/javascript"></script>
<script src="vessel/map/distance-circles-directive.js" type="text/javascript"></script>
<script src="vessel/vessel.module.js" type="text/javascript"></script>
<script src="vessel/vessel.constants.js" type="text/javascript"></script>
<script src="vessel/vessel-actions.js" type="text/javascript"></script>
<script src="vessel/vessel-service.js" type="text/javascript"></script>
<script src="vessel/vessel-service-factory.js" type="text/javascript"></script>

<script src="components/openlayer/openlayer.module.js" type="text/javascript"></script>
<script src="components/openlayer/openlayer.constants.js" type="text/javascript"></script>
<script src="components/openlayer/openlayer-service.js" type="text/javascript"></script>
<script src="components/openlayer/lonlat-filter.js" type="text/javascript"></script>
<script src="components/openlayer/openlayer-mouse-position-directive.js" type="text/javascript"></script>
<script src="components/openlayer/openlayer-parent-directive.js" type="text/javascript"></script>
<script src="components/openlayer/map-position-directive.js" type="text/javascript"></script>
<script src="components/openlayer/position.js" type="text/javascript"></script>

<script src="components/notification/notification.module.js" type="text/javascript"></script>
<script src="components/notification/notification-service.js" type="text/javascript"></script>

<script src="components/version/version.module.js" type="text/javascript"></script>
<script src="components/version/version-service.js" type="text/javascript"></script>

<script src="main-app.js" type="text/javascript"></script>
<!-- endbuild -->
</body>


</html>
