<div x-ng-controller="UsersCtrl as userCtrl">
            <h1>Arctic - Users</h1>

	<div class="row">
		<div class="col-md-12">
			<div x-ng-show="userCtrl.alertMessages" class="alert alert-danger">
				<span ng-repeat="msg in userCtrl.alertMessages">{{userCtrl.msg}}<br /></span>
			</div>
			<div x-ng-show="userCtrl.message" class="alert alert-info">{{userCtrl.message}}</div>
		</div>
	</div>
 			
	<div class="row">
        <div class="col-md-8">
			<form class="form-search">
				<div class="row">
					<div class="col-xs-12 col-md-6 ">
						<div class="input-group">
							<input class="form-control input-sm" x-ng-model="userCtrl.searchString" x-ng-change="userCtrl.search()"
								   placeholder="Login / email / MMSI">
							<div class="input-group-btn">
								<button class="btn btn-default btn-sm">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="scrollable">
				<table class="table">
					<thead>
						<tr>
							<th>Login</th>
							<th>Email</th>
							<th>Ship (MMSI)</th>
							<th>Role</th>
                            <th>AIS source filter</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="activeUsersTable">
						<tr x-ng-repeat="user in userCtrl.users">
							<td><a href=# x-ng-click="userCtrl.edit($event, user)">{{user.login}}</a></td>
							<td>{{user.email}}</td>
							<td>{{user.shipMmsi ? user.shipMmsi : "-"}}</td>
							<td>{{userCtrl.roleText(user.role)}}</td>
                            <td>{{user.aisFilterName ? user.aisFilterName : "default"}}</td>
							<td><a href="#" x-ng-click="userCtrl.del($event, user)">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
        <div class="col-md-4">
			<button class="btn btn-default btn-sm " style="margin-bottom:20px" x-ng-click="userCtrl.create()">Create New User</button>
			<button class="btn btn-default btn-sm " style="margin-bottom:20px" x-ng-click="userCtrl.showEmails()">Show all emails</button>

			<div x-ng-show="!userCtrl.action">
				<table class="table">
					<thead>
					<tr>
						<th>Role</th>
						<th>User count</th>
					</tr>
					</thead>
					<tbody>
					<tr x-ng-repeat="roleCount in userCtrl.rolesCount">
						<td>{{roleCount[0]}}</td>
						<td>{{roleCount[1]}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<form name="userForm" x-ng-show="userCtrl.action">
				<h3>{{userCtrl.action}}</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" x-ng-class="{'has-error':userForm.userLogin.$error.required}">
							<label class="control-label" for="userLogin">Login:</label>
                            <input id="userLogin" name="userLogin" class="form-control input-sm"
								   x-ng-model="userCtrl.editUser.login" x-ng-disabled="userCtrl.action=='Edit'" required/>
							<span class="help-block" x-ng-show="userForm.userLogin.$error.required">Login required</span>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userEmail.$error.required}">
							<label class="control-label" for="email">Email:</label>
                            <input id="email" name="userEmail" class="form-control  input-sm"
								   x-ng-model="userCtrl.editUser.email" required/>
							<span class="help-block" x-ng-show="userForm.userEmail.$error.required">Email required</span>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userRole.$error.required}">
							<label class="control-label" for="userRole">Role:</label>
							<div>
								<select id="userRole" name="userRole" x-ng-model="userCtrl.editUser.role" required class="form-control input-sm">
									<option value="Sailor">Sailor</option>
									<option value="Shore">Shore</option>
									<option value="Reporting">Reporting Authority</option>
									<option value="Administration">Administration</option>
								</select> <span class="help-block" x-ng-show="userForm.userRole.$error.required">Role required</span>
							</div>
						</div>
						<div class="form-group" x-ng-class="{'has-error':userForm.userMmsi.$error.required}">
							<label class="control-label" for="shipMmsi">Ship (MMSI - only for Sailors):</label>
							<div class="controls">
								<input  id="shipMmsi"
										name="userMmsi" 
										class="form-control input-sm" 
										x-ng-model="userCtrl.editUser.shipMmsi"
										x-ng-hide="userCtrl.editUser.role != 'Sailor'"
                                        x-ng-required="userCtrl.editUser.role == 'Sailor'"/>

                                <span class="help-block"
                                      x-ng-show="userCtrl.editUser.role == 'Sailor' && userForm.userMmsi.$error.required">MMSI must be provided for Sailors</span>
                                <input class="form-control input-sm" x-ng-hide="userCtrl.editUser.role == 'Sailor'" disabled />
							</div>
						</div>
						<div class="form-group" x-ng-show="userCtrl.action=='Edit'">
							<div x-ng-controller="ResetPasswordController as changePasswd">
                                <a href="#" x-ng-click="changePasswd.changePasswordDialog($event, userCtrl.editUser.login)">Change Password for {{userCtrl.editUser.login}}</a>
							</div>
						</div>
						<div class="form-group" x-ng-show="userCtrl.action=='Create'" x-ng-class="{'has-error':userCtrl.action=='Create' && userForm.userPwd.$error.required}">
							<label class="control-label" for="cPassword">Password:</label>
							<div>
                                <input id="cPassword" type="password" name="userPwd" class="form-control input-sm"
                                       x-ng-model="userCtrl.editUser.password" required/>
								<span class="help-block" x-ng-show="userCtrl.action=='Create' && userForm.userPwd.$error.required">Password required</span>
							</div>
						</div>
						<div class="form-group" x-ng-show="userCtrl.action=='Create'" x-ng-class="{'has-error': userCtrl.action=='Create' && userForm.userPwdAgain.$error.passwordMatch}">
							<label class="control-label" for="cPasswordAgain">Password repeated:</label>
							<div>
                                <input id="cPasswordAgain" type="password" name="userPwdAgain" class="form-control input-sm"
                                       x-ng-model="passwordAgain" x-password-match="userCtrl.editUser.password"/>
								<span class="help-block" x-ng-show="userCtrl.action=='Create' && userForm.userPwdAgain.$error.passwordMatch">Passwords must match</span>
							</div>
						</div>
						<div class="form-group">
                            <label class="control-label" for="cAisSourceFilter">AIS source filter</label>
                            <select id="cAisSourceFilter" name="cAisSourceFilter"
                                    x-ng-options="filter for filter in userCtrl.sourceFilters"
                                    x-ng-model="userCtrl.editUser.aisFilterName" class="form-control input-sm">
                                <option value="">default</option>
                            </select>
						</div>
						
						<div class="form-group" x-ng-class="{'has-error':userForm.userLogin.$error.required}">
							<div class="submitButton">
								<button	class="btn btn-primary btn-sm" 
										x-ng-click="userCtrl.submitCreate()"
										x-ng-show="userCtrl.action=='Create'"
										x-ng-disabled="userForm.$invalid">Save</button>
								<button	class="btn btn-primary btn-sm" 
										x-ng-click="userCtrl.submitEdit()"
										x-ng-show="userCtrl.action=='Edit'"
										x-ng-disabled="userForm.userEmail.$error.required || userForm.userRole.$error.required || (userCtrl.editUser.role=='Sailor' && userForm.userMmsi.$error.required)">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/ng-template" id="confirmDialog.html">
		<div class="modal-header">
			<button type="button" class="close" x-ng-click="$dismiss('aborted')">x</button>
			<h2>{{title}}</h2>
		</div>
		<div class="modal-body">
			<form>
				<div class="row">
    				<div class="col-md-6 col-xs-12">
	    				<p x-ng-repeat="msg in messages">
		    				{{msg}}
			    		</p>
				    </div>
    				<div class="col-md-6 col-sx-12">
	    				<span class="pull-right">
		    				<button class="btn btn-primary btn-sm" x-ng-click="$close()">OK</button>
			    			<button class="btn btn-sm" x-ng-click="$dismiss('aborted')">Cancel</button>
				    	</span>
				    </div>
				</div>
			</form>
		</div>
	</script>
<script type="text/ng-template" id="emailAdresses.html">
    <div class="modal-header">
        <button type="button" class="close" x-ng-click="$dismiss('aborted')">x</button>
        <h2>All the user emails</h2>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <textarea rows="30" cols="50" title="emails">
                        {{emails}}
                    </textarea>
                </div>
                <div class="col-md-6 col-sx-12">
	    				<span class="pull-right">
		    				<button class="btn btn-primary btn-sm" x-ng-click="$close()">OK</button>
			    			<button class="btn btn-sm" x-ng-click="$dismiss('aborted')">Cancel</button>
				    	</span>
                </div>
            </div>
        </form>
    </div>
</script>